<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<div class="container">
		<!-- main-header -->
		<header class="main-header">
			<!-- logo -->
			<div class="logo">
				<a href="/">
					<img src="/images/logo.png" alt="Logo de Craftsy">
				</a>
			</div>
			<!-- Left-navbar -->
			<nav class="left-navbar">
				<ul>
					<li><a href="#">smartphones</a></li>
					<li><a href="#">tablets</a></li>
					<li><a href="#">computadoras</a></li>
				</ul>
			</nav>
			<!-- right-navbar -->
			<nav class="right-navbar">
				<ul>
					<li><a href="/login">login</a></li>
					<li><a href="/register">registro</a></li>
				</ul>
			</nav>
		</header>

		<!-- main-content -->
		<section class="products-list">
			<article class="product-detail">
				<img src="/images/img-phone-01.jpg" alt="producto 1">
				<h2>Nombre del producto</h2>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque quisquam qui dignissimos dolores perferendis odio eligendi illo excepturi et voluptatum beatae vero, minima molestiae corporis iusto laudantium ex voluptate veritatis!</p>
				<a href="#" class="call-to-action">VER MÁS</a>
			</article>
			<article class="product-detail">
				<img src="/images/img-phone-02.jpg" alt="producto 2">
				<h2>Nombre del producto</h2>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque quisquam qui dignissimos dolores perferendis odio eligendi illo excepturi et voluptatum beatae vero, minima molestiae corporis iusto laudantium ex voluptate veritatis!</p>
				<a href="#" class="call-to-action">VER MÁS</a>
			</article>
			<article class="product-detail">
				<img src="/images/img-phone-03.jpg" alt="producto 3">
				<h2>Nombre del producto</h2>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque quisquam qui dignissimos dolores perferendis odio eligendi illo excepturi et voluptatum beatae vero, minima molestiae corporis iusto laudantium ex voluptate veritatis!</p>
				<a href="#" class="call-to-action">VER MÁS</a>
			</article>
			<article class="product-detail">
				<img src="/images/img-phone-01.jpg" alt="producto 1">
				<h2>Nombre del producto</h2>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque quisquam qui dignissimos dolores perferendis odio eligendi illo excepturi et voluptatum beatae vero, minima molestiae corporis iusto laudantium ex voluptate veritatis!</p>
				<a href="#" class="call-to-action">VER MÁS</a>
			</article>
			<article class="product-detail">
				<img src="/images/img-phone-02.jpg" alt="producto 2">
				<h2>Nombre del producto</h2>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque quisquam qui dignissimos dolores perferendis odio eligendi illo excepturi et voluptatum beatae vero, minima molestiae corporis iusto laudantium ex voluptate veritatis!</p>
				<a href="#" class="call-to-action">VER MÁS</a>
			</article>
			<article class="product-detail">
				<img src="/images/img-phone-03.jpg" alt="producto 3">
				<h2>Nombre del producto</h2>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque quisquam qui dignissimos dolores perferendis odio eligendi illo excepturi et voluptatum beatae vero, minima molestiae corporis iusto laudantium ex voluptate veritatis!</p>
				<a href="#" class="call-to-action">VER MÁS</a>
			</article>
		</section>

		<section class="tutorials">
			<h2 class="tutorials-title">Tutoriales</h2>
			<ul class="tutorials-details">
				<li>
					<a href="#">
						<img src="/images/aside-01.jpg" alt="imagen del tutorial">
						<p>Lorem ipsum dolor sit amet consectetur.</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/images/aside-02.jpg" alt="imagen del tutorial">
						<p>Lorem ipsum dolor sit amet consectetur.</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/images/aside-03.jpg" alt="imagen del tutorial">
						<p>Lorem ipsum dolor sit amet consectetur.</p>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="/images/aside-04.jpg" alt="imagen del tutorial">
						<p>Lorem ipsum dolor sit amet consectetur.</p>
					</a>
				</li>
			</ul>

			<h2 class="tutorials-title">Publicidad</h2>
			<div class="advertising">
				<img src="/images/ad-01.jpg" alt="publicidad">
				<img src="/images/ad-02.jpg" alt="publicidad">
			</div>
		</section>
</body>
</html>