<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<div class="container">
		<!-- main-header -->
		<header class="main-header">
			<!-- logo -->
			<div class="logo">
				<a href="/">
					<img src="/images/logo.png" alt="Logo de Craftsy">
				</a>
			</div>
			<!-- Left-navbar -->
			<nav class="left-navbar">
				<ul>
					<li><a href="#">smartphones</a></li>
					<li><a href="#">tablets</a></li>
					<li><a href="#">computadoras</a></li>
				</ul>
			</nav>
			<!-- right-navbar -->
			<nav class="right-navbar">
				<ul>
					<li><a href="/login">login</a></li>
					<li><a href="/register">registro</a></li>
				</ul>
			</nav>
		</header>

		<!-- register-form -->
		<h6>Aquí va el formulario de register</h6>
</body>
</html>